* {
  padding: 0px;
  margin: 0px;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(72, 124, 238);
  font-weight: bold;
  font-size: 18px;
}

.outer-container {
  padding: 18px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(177, 106, 106, 0.3);
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 350px;
}

input {
  height: 40px;
  border: none;
  border-radius: 100px;
  padding-left: 15px;
}

#input-city {
  font-size: 18px;
  width: 80%;
}

#search-button {
  background: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 18px;
}

#search-button:active {
  background-color: rgba(233, 229, 229, 0.3);
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  flex: 1;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: space-around
}

.search-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.city-display {
  display: flex;
  justify-content: end;
  font-size: 1rem;
}

.weather-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.temp-display {
  display: flex;
  flex-direction: column;
}

.current-temp {
  font-size: 2.5rem;
}

.outer-other-info {
  display: flex;
  justify-content: space-between;
}

.inner-other-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: rgba(236, 233, 233, 0.1);
  padding: 10px;
  width: 25%;
  border-radius: 10px;
}

.text-info {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-info span {
  text-align: center;
}

.info-icon {
  font-size: 40px;
}

@media (max-width: 500px) {
  .outer-container {
    width: 80%;
    height: 500px;
  }
}


.error-container,
.loading-container,
.empty-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
  font-size: 20px;
  font-weight: bold;
}