* {
  padding: 0px;
  margin: 0px;
  -webkit-tap-highlight-color: none;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(164, 235, 72);
  font-weight: bold;
  font-size: 18px;
}

.outer-container {
  padding: 2%;
  width: 400px;
  height: 500px;
  border: 2px solid black;
  background-color: rgba(102, 74, 74, 0.3);
  border-radius: 10px;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  height: 20%;
  padding: 10px 0px;
  flex: 1;
}

.search-container {
  display: flex;
  justify-content: space-between;
  height: 35%;
  gap: 10px;
}

#api-input {
  height: 35%;
  border: none;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
}

#input-city {
  flex: 2;
  border: none;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 5px;
}

#search-button {
  flex: 1;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: blue;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

#search-button:active {
  background-color: white;
  color: blue;
}

.error {
  font-size: 20px;
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  height: 76%;
  flex: 1;
}

.error-container,
.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-description-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  border: 2px solid black;
}

@media (max-width: 500px) {
  .outer-container {
    width: 75%;
    height: 70%;
    padding: 5%;
  }
  #input-city {
  width: 40%;
  }
}